.blogs-show {
  p {
    line-height: 1.8rem;
    text-align: justify;
  }
  h2, h3 {
    font-family: monospace;
  }
  .alert, .notice {
    display: none;
  }
}

.blog-img-sm {
  display: block;
  margin: 0 auto;
  width: 50%;
}
.blog-img {
  display: block;
  margin: 0 auto;
  width: 75%;
}
.blog-img-lg {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.blog-caption {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0 8em;
}
.blog-header {
  display: grid;
  place-items: center;
  height: 300px;
  color: white;
  background-position : center;
  background-size : cover;
  background-repeat : no-repeat;
  h1 {
    text-align: center;
  }
}
.blog-info {
  border-top: 1px solid rgb(18, 80, 146);
  border-bottom: 1px solid black;
  p {
    text-align: center;
    color : grey;
    font-size: 0.8rem;
    margin : 4px;
  }
  span {
    color: rgb(18, 80, 146);
  }
}
// index
.blogs-index {
  font-family: monospace;
  a {
    color: black;
  }
  .alert, .notice {
    display: none;
  }
}
.blog-cards {
  display: flex;
  flex-direction: column;
  text-align: right;
  border: 8px solid white;
  border-bottom: 32px solid white;
  margin-bottom: 1.5rem;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  h4, p {
    color: white;
  }
  .blog-header {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 26px;
  }
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}
#blog-index {
  display: grid;
  padding: 0 46px;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  grid-template-areas:
    "title content";
  main {
    grid-area: content;
  }
  aside {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    h1 {
      transform: rotate(-90deg);
      font-size: clamp(80px, calc(6.5vw + 1px), 999px);
      position: sticky;
      top: 20vh;
      z-index: -1;
    }
  }
}
.blogs-show {
  footer {
    display: grid;
    place-items: center;
    width: 100vw;
    height: fit-content;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
  }
  p {
    transform: unset;
  }
}
#blog_content {
  height: 22em;
}
#other-posts {
  margin: 3rem 0;
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    line-height: 1.8rem;
  }
  a {
    color: rgb(24, 42, 148);
    text-decoration: none;
    &:hover {
      color: rgb(64, 64, 64);
    }
  }
}
