.contacts-new {
  nav {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    width: 100%;
    z-index: 10;
  }
  .container {
    height: 100vh;
    height: 100dvh;
  }
  #contact_message {
    height: 18em;
  }
  footer {
    display: none;
  }
}
