* {
  // background-color: rgba(75, 150, 75, 0.1) !important;
  box-sizing: border-box;
}
body {
  position: relative;
}
.alert, .notice {
  padding: 0;
  margin: 0;
}
// h1, h2, h3, h4, h5, h6 {
//   font-family: 'Jacques Francois Shadow';
// }
// p {
//   font-family: monospace;
// }
