* {
  // background-color: rgba(75, 150, 75, 0.1) !important;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  position: relative;
}
h1, h2, h3, h4{
  font-family: 'Jacques Francois Shadow';
}
p {
  font-family: monospace;
}
// flash messages
@keyframes hide-message {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
.alert, .notice {
  animation: hide-message 4s forwards;
  padding: 12px;
  position: fixed;
  top: 0;
  right: 0;
}
