.projects-home {
  height: 100vh;
  overflow: hidden;
  nav {
    display: none;
  }
}
#landing-container {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
#landing, #about {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about {
  padding: 24px;
  background-color: antiquewhite;
  justify-content: space-around;
  #about-text {
    width: 40%;
  }
}

#landing {
  background-color: antiquewhite;
  color: rgb(46, 27, 20);
  display: grid;
  padding: 3rem;
  min-height: 100vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "ink recent"
    "welcome links";
  #welcome {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    grid-area: welcome;
    padding: 1rem;
    font-size: 14px;
    h1 {
      font-size: 2rem;
    }
    span {
      font-weight: 200;
    }
  }
  #ink {
    grid-area: ink;
  }
  #recent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    grid-area: recent;
    padding: 1rem;
    h1 {
      font-size: 2rem;
    }
    a {
      font-family: 'Dancing Script', cursive;
      color:rgb(46, 27, 20);
      text-decoration: none;
      &:hover {
        color: rgb(255, 165, 0);
        text-decoration: underline;
      }
    }
  }
  #links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: links;
    transform: rotate(-90deg);
    h2 {
      font-size: 6rem;
      font-family: 'Bebas Neue', cursive;
    }
    a {
      text-decoration: none;
      color: rgb(46, 27, 20);
      cursor: pointer;
      &:hover {
        color: rgb(255, 165, 0);
        text-decoration: underline;
      }
    }
  }
  #navigate {
    position: fixed;
    bottom: 0;
    right: 8px;
    font-size: 3rem;
    transition: transform 0.3s ease;
    &:hover {
      color: rgb(255, 165, 0);
    }
  }
}
