.projects-home {
  height: 100vh;
  overflow: hidden;
  nav {
    display: none;
  }
}
#landing-container {
  height: 100%;
}
#landing {
  font-family: monospace;
  background-color: #f9f5ef;
  color: rgb(46, 27, 20);
  display: grid;
  padding: 3rem;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "ink recent"
    "welcome links";
  #welcome {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    grid-area: welcome;
    padding: 1rem;
    font-size: 14px;
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    span {
      font-weight: bold;
    }
  }
  #ink {
    grid-area: ink;
  }
  #recent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    grid-area: recent;
    padding: 1rem;
    z-index: 10;
    h1 {
      font-size: 2rem;
    }
    a {
      font-family: 'Dancing Script', cursive;
      color:rgb(46, 27, 20);
      text-decoration: none;
      &:hover {
        color: rgb(255, 165, 0);
        text-decoration: underline;
      }
    }
  }
  #home-links {
    display: flex;
    width: unset;
    height: unset;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    grid-area: links;
    transform: rotate(-90deg);
    height: fit-content;
    h2 {
      font-size: 5rem;
      font-family: 'Bebas Neue', cursive;
    }
    a {
      text-decoration: none;
      color: rgb(46, 27, 20);
      cursor: pointer;
      &:hover {
        color: rgb(255, 165, 0);
        text-decoration: underline;
      }
    }
  }
}
