@media screen and (max-width: 675px) {
  .projects-home footer {
    display: none;
  }
  #landing {
    z-index: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
      "welcome"
      "links";
    #welcome {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      grid-area: welcome;
      font-size: 14px;
      p {
        display: none;
      }
      h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      span {
        font-weight: bold;
      }
    }
    #links {
      grid-area: links;
      h2 {
        margin: 0;
      }
    }
    #recent {
      display: none;
    }
    #ink {
      z-index: 0;
      position: fixed;
      top: 5%;
      left: 0;
      mix-blend-mode: overlay;
    }
  }
}
@media screen and (max-width: 675px){
  #about {
    padding: 0;
    padding-top: 26px;
    height: 100%;
    align-items: flex-start;
    .about-container {
      height: 90%;
      z-index: 1;
      background: white;
      max-width: 90%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 36px 24px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      font-size: 14px;
      font-family: monospace;
      img {
        object-fit: cover;
        margin-bottom: 12px;
        width: 100%;
        aspect-ratio: 16/9;
        padding: 12px;
      }
    }
    #about-text {
      padding: 12px;
      text-align: justify;
      width: 100%;
      overflow-y: scroll;
      -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 80%, transparent);
      mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    }
  }
}
