.left, .right {
  display :flex;
  padding: 24px;
  .content {
    padding: 12px;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
  }
}
.left {
  background-color: white;
  color:rgb(46, 46, 46);
  a {
    color:rgb(46, 46, 46);
  }
  // clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
.right {
  flex-direction: row-reverse;
  background-color: rgb(46, 46, 46);
  color: white;
  a {
    color: white;
  }
  // clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
}
