.projects-index {
  color: rgb(68, 26, 3);
  background-color: #f9f5ef;
}
.projects-show {
  overflow: hidden;
  // background-color: antiquewhite;
  color: black;
  footer {
    background: white;
  }
}
#projects {
  display: grid;
  height: 100vh;
  width: 100%;
  font-family: monospace;
  overflow: hidden;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 20% 60% 20;
  grid-template-areas:
    "header header header"
    "work square projects"
    ". . .";

}
.projects-header {
  grid-area: header;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
}
.project-cards {
  h4 {
    display: none;
  }
}
#work {
  display: grid;
  place-items: center;
  grid-area: work;
  h2 {
    transform: rotate(-90deg);
    font-size: 8.5rem;
  }
}
#square {
  grid-area: square;
  width: 450px;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
  // background: #444444;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
}
.projects-index {
  padding: 0 12px;
  grid-area: projects;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
  h6 {
    font-size: 18px;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: rgb(68, 26, 3);
  }
}
// PROJECT SHOW
#project-show {
  display: grid;
  height: 100vh;
  width: 100%;
  font-family: monospace;
  overflow: hidden;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "project .";
  main {
    grid-area: project;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    padding: 24px 42px;
    margin-left: 32px;
  }
  #project-title p {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    scroll-snap-align: start;
    min-height: 100vh;
    border-left: 1px solid rgb(170, 170, 170);
    border-right: 1px solid rgb(170, 170, 170);
    h1 {
      font-family: "Jacques Francois Shadow";
      font-size: clamp(3vw, 5vw, 8vw);
      text-align: center;
    }
    p {
      width: 75%;
    }
    a {
      text-decoration: none;
      color: black;
    }
    img {
      width: 100%;
      max-width: 250px;
      margin: 42px auto;
      box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.1);
    }
  }
  #images {
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-start;
    height: 100vh;
    width: 42%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background-color: white !important;
    border: none;
  }
}
