@media screen and (max-width: 675px) {
  .projects-show {
    overflow: unset;
    footer {
      display: none;
    }
  }
  #project-show {
    display: grid;
    height: unset;
    width: unset;
    overflow: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-template-areas: unset;
    main {
      padding: 0;
      margin: 0;
      grid-area: unset;
      overflow-y: unset;
      scroll-snap-type: unset;
      scroll-behavior: unset;
    }
    #images {
      position: unset;
      height: unset;
      width: 100%;
      overflow-y: unset;
      border-left: 1px solid rgb(170, 170, 170);
      border-right: 1px solid rgb(170, 170, 170);
    }
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 12px 24px;
      align-items: center;
      scroll-snap-align: unset;
      min-height: 100vh;
      min-height: 100dvh;
      width: 100vw;
      width: 100dvw;
      h1 {
        font-family: "Jacques Francois Shadow";
        font-size: max(8vw, 12vw);
        text-align: center;
        position: unset;
      }
      p {
        text-align: justify;
      }
      img {
        width: 90%;
        // aspect-ratio: 9/16;
        margin: 12px 0;
        border: 4px solid white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
  .links {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    flex-direction: row;
    height: 3.2rem;
    width: 40%;
    border-radius: 4px 4px 0 0;
    background: white;
  }
}

@media screen and (max-width: 900px) {
  #projects {
    display: grid;
    overflow: unset;
    // justify-content: center;
    // align-items: center;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "work ."
      "square projects";
      .projects-index {
        justify-content: flex-start;
        padding-top: 1rem;
      }
  }
  #square {
    align-self: flex-start;
  }
  #work h1 {
    transform: unset;
  }
  .projects-header {
    grid-area: unset;
    display: none;
  }
}
@media screen and (max-width: 675px) {
  .projects-index {
    footer {
      display: grid;
      place-items: center;
      height: unset;
      width: 100vw;
      width: 100dvw;
      position: unset;
    }
    p {
      transform: unset;
    }
  }
  #projects {
    display: grid;
    // justify-content: center;
    // align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "work"
      "square"
      ".";
      ::-webkit-scrollbar {
        display: none;
      }
      .counter {
        display: inline-block;
      }
    .projects-header {
      display: none;
    }
    .projects-index {
      display: none;
    }
    #work {
      display: block;
      place-items: unset;
      grid-area: unset;
      h1 {
        transform: unset;
        font-size: 6em;
        text-align: center;
      }
    }
    #square {
      display: flex;
      width: 100%;
      height: 100%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      grid-area: square;
    }
    .project-cards {
      scroll-snap-align: start;
      display: inline-block;
      height: 100%;
      min-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      h4 {
        display: inline-block;
      }
      img {
        height: 40vw;
        width: 40vw;
        min-height: 225px;
        min-width: 225px;
        border: 1em white solid;
        border-bottom: 3em white solid;
      }
    }
    div[content~=filler] {
      display:none;
    }
  }
  .bg-num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90vh;
    z-index: -1;
    mix-blend-mode: overlay;
  }
  .project-counter {
    display: inline-block !important;
  }
}
