<nav>
  <h3><%= link_to "TB", root_path %></h3>
  <ul>
    <li><%= link_to "Blog", blogs_path %></li>
    <li><%= link_to "Projects", projects_path %></li>
    <%# <li><a href="https://www.github.com/bomtrookes" target="_blank">GitHub</a></li> %>
    <%# <li><a href="https://www.linkedin.com/in/thomasbrookes" target="_blank">LinkedIn</a></li> %>
  </ul>
</nav>
