<div id="landing-container" data-controller="navigate" data-navigate-target="container">
  <main id="landing">

    <section id="ink">
      <img src="../../assets/ink.png" alt="ink">
    </section>

    <section id="welcome">

      <h1>Tom <span>Brookes</span></h1>
      <p>I am constantly building, learning and developing my skills.</p>
      <p>Take a look at my work, or browse my blog.</p>

    </section>

    <section id="links">

      <div>
        <h2><%= link_to "WORK", projects_path %></h2>
        <h2><%= link_to "BLOG", blogs_path %></h2>
        <h2><a href="#">CONTACT</a></h2>
      </div>

    </section>

    <section id="recent">

      <h5>Latest Blog Post:</h5>
        <%= link_to @blogs.last.title, blog_path(@blogs.last) %>
      <br><br>
      <h5>Recent Project:</h5>
        <%= link_to @projects.last.name, project_path(@projects.last) %>

    </section>
      <h2 id ="navigate" data-navigate-target="button" data-action="click->navigate#scroll">
        <i class="bi bi-arrow-down-circle-fill"></i>
      </h2>

  </main>

  <main id="about">

    <div class="about-container">
        <div id="about-image">
          <img src="../../assets/tom.png" alt="Tom Brookes">
        </div>

        <div id="about-text">
          <h2>About Me</h2>
          <p>I am a full stack developer with a passion for building and learning. I am currently working as a software engineer at <a href="https://www.theschooloflife.com/" target="_blank">The School of Life</a>, where I am building a new e-commerce platform. I am also a freelance developer, and have worked on a number of projects for clients.</p>
          <p>I am currently learning React, and am looking to further my skills in Ruby on Rails, and JavaScript.</p>
        </div>
    </div>


  </main>
</div>
