<p>You have received a new message from the contact form on your website:</p>

<p><strong>Name:</strong> <%= @contact.name %></p>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Message:</strong> <%= @contact.message %></p>
