.project-cards {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding-top: 16px;
    color: white;
  }
  img, p {
    margin: 0;
    height: 130px;
    width: 130px;
    text-align: center;
    object-fit: cover;
    filter: saturate(25%);
    border: 4px white solid;
    border-bottom: 28px white solid;
    background-color: rgb(36, 36, 36);
    &:hover {
      filter: saturate(1);
    }
  }
}
