nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  background-color: rgb(52, 52, 52);
  color: white;
  height: 40px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding-left: 12px;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
  border-bottom: 2px solid white;
}
